{% extends "dashboard/base_dashboard.html"%}

{% block nav%}
<li class="nav-item">
    <button id="nav-btn" type="button" class="btn btn-light fw-normal border" onclick="location.href='{{ url_for('home_page') }}'">
    View Public Site
    </button>
</li>
{% endblock%}

{% block section %}
<section id="StatisticsDt">
    <div class="container p-5">
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card p-3 custom-card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="text-uppercase text-muted mb-1">Users Registered</h6>
                                <h3 class="mb-0 fw-semibold">350,897</h3>
                            </div>
                            <div class="bg-primary bg-gradient text-white d-flex align-items-center justify-content-center shadow icon-circle">
                                <i class="ri-team-line fs-3"></i>
                                
                            </div>
                        </div>
                        <p class="mt-3 mb-0 small">
                            <span class="text-success me-2"><i class="bi bi-arrow-up"></i> 3.48%</span>
                            <span class="text-nowrap">Since last month</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card p-3 custom-card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="text-uppercase text-muted mb-1">Job Posts</h6>
                                <h3 class="mb-0 fw-semibold">350,897</h3>
                            </div>
                            <div class="bg-info bg-gradient text-white d-flex align-items-center justify-content-center shadow icon-circle">
                                <i class="ri-file-list-line fs-3"></i>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 small">
                            <span class="text-success me-2"><i class="bi bi-arrow-up"></i> 3.48%</span>
                            <span class="text-nowrap">Since last month</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card p-3 custom-card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="text-uppercase text-muted mb-1">Total Applications</h6>
                                <h3 class="mb-0 fw-semibold">350,897</h3>
                            </div>
                            <div class="bg-warning bg-gradient text-light d-flex border align-items-center justify-content-center shadow icon-circle">
                                <i class="ri-user-received-2-line fs-3"></i>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 small">
                            <span class="text-success me-2"><i class="bi bi-arrow-up"></i> 3.48%</span>
                            <span class="text-nowrap">Since last month</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card p-3 custom-card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="text-uppercase text-muted mb-1">Total Hired</h6>
                                <h3 class="mb-0 fw-semibold">350,897</h3>
                            </div>
                            <div class="bg-success bg-gradient text-white d-flex align-items-center justify-content-center shadow icon-circle">
                                <i class="ri-user-follow-line fs-3"></i>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 small">
                            <span class="text-success me-2"><i class="bi bi-arrow-up"></i> 3.48%</span>
                            <span class="text-nowrap">Since last month</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}

<section id="UsersDt"> 
   <div class="container p-5">

   </div>

</section>


                