
<!-- Beep Sound in Modals -->
<audio id="modal-beep" src="{{ url_for('static',filename='builtin/sound/beep-sound-software.wav') }}"></audio>


<!--UPDATE Modal -->
<div class="modal fade" id="Update-UserInfo-Kanban-{{user.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{user.firstname|capitalize}}`s Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
            {{user_info_form.hidden_tag()}}
            <input type="hidden" name="user_id" value="{{ user.id }}">
            {{user_info_form.user_id(value=user.id)}}
            <div class="container d-none d-sm-block">
                <div class="avatar pb-5 ">
                    <div id="avatar-container">
                        <img id="avatar-preview" src="
                            {% if user.profile_picture %}
                            {{ url_for('static', filename='uploads/avatars/'~ user.profile_picture)}}
                            {% else %}
                            {{ url_for('static', filename='builtin/icons/person.png')}}
                            {% endif %}" 
                            alt="Avatar"
                            onerror="this.onerror=null; this.src='{{ url_for('static', filename='builtin/icons/person.png') }}'">
                    </div>
                    <label for="avatar-upload" class="upload-label">
                            <span class="upload-icon">+</span>
                    </label>
                    <input type="file" id="avatar-upload" name="avatar" accept="image/png,image/jpeg"/>
                </div>
            </div>
            
            <div class="row row-cols-1 row-cols-lg-2 mb-3 text-muted">
                <div class="col text-center">
                    {{ user_info_form.firstname.label(class="mb-1")}}
                    {{ user_info_form.firstname(class="form-control", placeholder="Juan", value=user.firstname) }}
                </div>
                <div class="col text-center">
                    {{ user_info_form.lastname.label(class="mb-1") }}
                    {{ user_info_form.lastname(class="form-control", placeholder="Dela Cruz", value=user.lastname) }}
                </div>
            </div>
            
            <div class="row">
                <div class="col text-center text-muted py-5 ps-lg-3">
                    <h6 class="mb-4">Address Details</h6>
                    
                    <div class="row row-cols-1 row-cols-lg-2 mb-5 text-muted">
                        <div class="col text-center">
                            {{ user_info_form.address_1.label(class="mb-1") }}
                            {{ user_info_form.address_1(class="form-control", placeholder="Block # / Lot #", value=user.address_1) }}
                        </div>
                        <div class="col text-center">
                            {{ user_info_form.address_2.label(class="mb-1") }}
                            {{ user_info_form.address_2(class="form-control", placeholder="Street / Phase ", value=user.address_2) }}
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-lg-4 mb-5 text-muted">

                        <div class="col text-center">
                            {{ user_info_form.prov_id.label(class="mb-1") }}
                            {{ user_info_form.prov_id(id="prov_id", class="form-control text-center", value=user.prov_id) }}
                        </div>

                        <div class="col text-center">
                            {{ user_info_form.munci_id.label(class="mb-1") }}
                            {{ user_info_form.munci_id(id="munci_id", class="form-control text-center", value=user.munci_id) }}
                        </div>

                        <div class="col text-center">
                            {{ user_info_form.brgy_id.label(class="mb-1") }}    
                            {{ user_info_form.brgy_id(id="brgy_id", class="form-control text-center", value=user.brgy_id) }}
                        </div>

                        <div class="col text-center">
                            {{ user_info_form.zipcode.label(class="mb-1") }}
                            {{ user_info_form.zipcode(class="form-control", value=user.zipcode) }}
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="row">
                <div class="col-12 col-lg-6 text-center text-muted py-2 pe-lg-3">
                    <h6 class="mb-4">Contact Details</h6>
                    <div class="mb-3">
                        {{ user_info_form.email_address.label(class="mb-1") }}
                        {{ user_info_form.email_address(class="form-control", placeholder="your@email.com", value=user.email_address) }}
                    </div>
                    <div class="mb-3">
                        {{ user_info_form.mobile_number.label(class="mb-1") }}
                        {{ user_info_form.mobile_number(class="form-control", placeholder="+63*", value=user.mobile_number) }}
                    </div>
                    <div>
                        {{ user_info_form.phone_number.label(class="mb-1") }}
                        {{ user_info_form.phone_number(class="form-control", placeholder="0000-0000", value=user.phone_number) }}
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column-sm align-items-center justify-content-center gap-2 mb-3 w-100">
                {{user_info_form.update(class="btn btn-sm btn-outline-success text-success px-5")}}
                {{user_info_form.cancel (class="btn btn-sm btn-outline-danger text-danger px-5")}}
            </div>
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>



<!--SOUND SCRIPT -->
<script>
  document.addEventListener('click', function (event) {
    const modal = document.getElementById('Update-UserInfo-Kanban-{{user.id}}');
    const modalContent = modal.querySelector('.modal-content');
    const isModalVisible = modal.classList.contains('show');

    if (isModalVisible && !modalContent.contains(event.target)) {
      const beep = document.getElementById('modal-beep');
      beep.currentTime = 0;
      beep.play();
    }
  });
</script>