
<!-- Beep Sound in Modals -->
<audio id="modal-beep" src="{{ url_for('static',filename='builtin/sound/beep-sound-software.wav') }}"></audio>


<!--UPDATE Modal -->
<div class="modal fade" id="Update-UserInfo-Kanban-{{user.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>Kanban View</h5>

        <p>{{user.firstname}} {{user.lastname}} </p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="Update-UserInfo-Tree-{{user.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>Tree View</h5>
        <p>{{user.firstname}} {{user.lastname}} </p>
        
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>



<!--SOUND SCRIPT -->
<script>
  document.addEventListener('click', function (event) {
    const modal = document.getElementById('Update-UserInfo-Tree-{{user.id}}');
    const modalContent = modal.querySelector('.modal-content');
    const isModalVisible = modal.classList.contains('show');

    if (isModalVisible && !modalContent.contains(event.target)) {
      const beep = document.getElementById('modal-beep');
      beep.currentTime = 0;
      beep.play();
    }
  });
</script>