@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary-color: #e0ebed;
  --text-dark: #231e22;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --teal: #20c997;
  --info: #53b8f3;
  --login: #9e5807;
  --login-light: #d88527;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

