@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary-color: #e0ebed;
  --text-dark: #231e22;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --teal: #20c997;
  --info: #53b8f3;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#nav-btn{
  color: #ee7373;
/* box-shadow: -4px -1px 35px -5px rgba(0,0,0,0.53) inset;
-webkit-box-shadow: -4px -1px 35px -5px rgba(0,0,0,0.53) inset;
-moz-box-shadow: -4px -1px 35px -5px rgba(0,0,0,0.53) inset; */
}
#nav-btn:hover{
  background-color: #eb7070;
  transition: .3s ease-in;
  
  color: #ffffff;
  box-shadow: none;
}
#nav-btn:focus,#nav-btn:active{
  box-shadow: none !important;
  outline: none !important;

}


