@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body{
    background-color: #edf0f0;    
    background: linear-gradient(to top, #ffffff 0%, #66ccff 100%)
    background: linear-gradient(to top left, #ffffff 0%, #ff9900 100%);
    background: linear-gradient(to top left, #ffffff 0%, #006699 100%);
} */


/* Main nav main.html*/
#nav-btn{
  color: #ffffff;
  background-color: #228bd1;
  white-space: nowrap;
}
#nav-btn:hover{
  background-color: #0562a0;
  color: #ffffff;
  box-shadow: none;
}
#login-btn,#signup-btn{
  font-size: 1rem;
  font-weight: 500;
}

#login-btn:hover{
  color: #ffffff;
  background-color: #81a9db;
}
#signup-btn:hover{
  background-color: #313131;
}

#nav-btn:focus,#nav-btn:active,#signup-btn:focus,#login-btn:focus,#signup-btn:active,#auth-btn:active{
  box-shadow: none !important;
  outline: none !important;
  
}

#anom_login{
  text-decoration: none;
  font-weight: 500;
}

#anom_login:hover{
  text-decoration:underline;
  text-underline-offset: 5px;
}


/* base.html*/
#toastMessage{
  z-index: 9999;
}

/* .footer {
            background: linear-gradient(135deg, #ff6f61, #d6a4a4);
            color: #fff;
            padding: 2rem 0;
            text-align: center;
        }
        .footer .social-icons {
            margin: 1rem 0;
        }
        .footer .social-icons a {
            color: #fff;
            margin: 0 0.5rem;
            font-size: 1.5rem;
            transition: color 0.3s;
        }
        .footer .social-icons a:hover {
            color: #ff6f61;
        }
        .footer .footer-links {
            margin: 1rem 0;
        }
        .footer .footer-links a {
            color: #fff;
            margin: 0 0.5rem;
            text-decoration: none;
            transition: color 0.3s;
        }
        .footer .footer-links a:hover {
            color: #ff6f61;
        } */


/*Login.html and Register.html*/
#forgotPw,#SignUpbtn,#SignInbtn{
  text-decoration:none;
  color: #158cdb;
}

#forgotPw:hover,#SignUpbtn:hover,#SignInbtn:hover{
  text-decoration:underline;
  text-underline-offset: 2px;
}

@media (max-width: 991px ) {
  .custom-nav-list-dashboard{
    padding-top: 4rem;
    text-align: center;
  }
  .custom-nav-list-dashboard li{
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 575.98px ) {
  .custom-nav-center {
    justify-content: center !important;
    text-align: center;
    padding-top: 50px;
  }

  .custom-nav-center .navbar-nav {
    flex-direction: column;
    align-items: center;

  }

  .custom-nav-center .navbar-nav .nav-item {
    margin-bottom: 0.5rem;
  }

  /* Keep auth buttons in a row on mobile */
  .auth-buttons {
    flex-direction: row !important;
    justify-content: center;
    flex-wrap: wrap; /* allow wrap if needed on smaller screens */
  }

  .auth-buttons .nav-item {
    margin: 0 0.25rem;
  }
}



/* Dashboard */
.custom-card {
border-radius: 10px;
box-shadow: -7px 5px 42px -22px rgba(0,0,0,0.2);
-webkit-box-shadow: -7px 5px 42px -22px rgba(0,0,0,0.2);
-moz-box-shadow: -7px 5px 42px -22px rgba(0,0,0,0.2);
}

#logout-btn{
  color: #ffffff;
  background-color: #db6868;
  white-space: nowrap;
}

#logout-btn:hover{
  background-color: #ec6969;
  color: #ffffff;
  box-shadow: none;
}


/* Dashboard sidebar*/
/* Shift header and main content when sidebar is open */

body.sidebar-open .navbar{
    margin-left: 250px; 
    transition: margin 0.3s ease;
}
body.sidebar-open .main-content {
  margin-left: 250px;
  transition: margin 0.3s ease;
}

.main-content,.navbar {
    transition: margin 0.3s ease;
} 

.dashboard_side_btn:hover{
    background-color: #edeff0;
    border: 1px solid black;
}

.form-section {
    transition: all 0.5s ease-in-out;
}


/* Admin Dashboard / DASHBOARD */
.icon-circle {
        width: 56px;
        height: 56px;
        border-radius: 50%;
    }


/* Admin Dashboard/Users Management Kanban-View */
.users-management{
  background-color: #24a0ed;
}

.dropdown-menu .dropdown-action-option {
  transition: all 0.2s ease-in-out;
  border: 1px solid #dee2e6;
  margin-bottom: 6px;
  border-radius: 0.375rem;
}

.dropdown-menu .dropdown-action-option:hover {
  transform: translateY(-3px) !important;
  background-color: #f38b8b !important;
  color: #ee4e4e !important;
}


.p-t-10 {
    padding-top: 10px !important;
}
.media-main a.pull-left {
    width: 100px;
}
.thumb-lg {
    height: 84px;
    width: 84px;
}
.media-main .info {
    overflow: hidden;
    color: #000;
}
.media-main .info h4 {
    padding-top: 10px;
    margin-bottom: 5px;
}
.social-links li a {
    background: #EFF0F4;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #7A7676;
}

/* Admin Dashboard/Users Management Tree-View */
























/* Public Dashboard */
@media(min-width:992px){
  .profile-sidebar-sticky {
  position: sticky;
  top: 0;
  align-self: flex-start;
  z-index: 101;
  height: 100vh;
  }
}

.btn-group-container{
  /* background-color: #75c1ec; */
  background: linear-gradient(to top right, #ffffff 0%, #0099ff 100%);
}

#avatar-icon{
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.avatar{
  display: flex;
  justify-content: center;
  align-items: center;
}

#avatar-container{
  border-radius: 50%; 
  border: 2px solid rgb(185, 181, 181);
  overflow: hidden; 
}

#avatar-preview{
  width: 200px;
  height: 200px;
}

#avatar-upload {
  display: none;
}


.upload-label {
  bottom: 20px;
  left: 130px;
  position: sticky;
  background-color: #179eec; 
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  font-size: 28px;
  transition: background-color 0.3s ease;
}

.upload-label:hover {
  background-color: #086083; 
}

#barangay-select{
  width: 10px;
}


.btn-outline-success{
  background-color: #28a745;
  color: white !important;
}
.btn-outline-danger{
  background-color: #dc3545;
  color: white !important;
}

.btn-outline-success:hover {
  background-color: #0f7e29 !important;  
}

.btn-outline-danger:hover {
  background-color: #96111e !important; 
}


















/* BOOTSTRAP CLASS CUSTOM */

.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus:active,
.btn-primary:focus-visible {
    background-color: #388ec0;
    border: none;
    outline: none;
    box-shadow: none;
    transition: transform 0.3s ease, box-shadow 0.2s ease;
}

.btn-primary:hover{
  transform: translateY(-3px);
    background-color: #0e6394;
} 

.btn-dark,
.btn-dark:focus,
.btn-dark:active,
.btn-dark:focus:active,
.btn-dark:focus-visible {
    background-color: #424242;
    border: 1px solid rgb(92, 86, 86);
    outline: none;
    box-shadow: none;
    color: #ffffff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-dark:hover {
  background-color: #2e2d2d;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fdfcfc;
}


.btn-danger,
.btn-danger:focus,
.btn-danger:active,
.btn-danger:focus:active,
.btn-danger:focus-visible {
    background-color: #990909;
    border: none;
    outline: none;
    box-shadow: none;
    transition: transform 0.3s ease, box-shadow 0.2s ease;
}

.btn-danger:hover{
    transform: translateY(-3px);
    background-color: #cf0f0f;
} 


.btn-success,
.btn-success:focus,
.btn-success:active,
.btn-success:focus:active,
.btn-success:focus-visible {
    background-color: #057001;
    border: none;
    outline: none;
    box-shadow: none;
    transition: transform 0.3s ease, box-shadow 0.2s ease;
}

.btn-success:hover{
    transform: translateY(-3px);
    background-color: #15a015;
} 





.btn-transparent-primary,
.btn-transparent-primary:focus,
.btn-transparent-primary:active,
.btn-transparent-primary:focus:active,
.btn-transparent-primary:focus-visible {
    
    color:#0099ff ;
    border: none;
    outline: none;
    box-shadow: none;
    transition: transform 0.3s ease;
}

.btn-transparent-primary:hover{
  transform: translateY(-3px);
    border: 1px solid #0099ff;
} 



.btn-transparent-success,
.btn-transparent-success:focus,
.btn-transparent-success:active,
.btn-transparent-success:focus:active,
.btn-transparent-success:focus-visible {
    
    color:#057001 ;
    border: none;
    outline: none;
    box-shadow: none;
    transition: transform 0.3s ease;
}

.btn-transparent-success:hover{
  transform: translateY(-3px);
  color:#12ca0c ;

} 


.btn-transparent-danger,
.btn-transparent-danger:focus,
.btn-transparent-danger:active,
.btn-transparent-danger:focus:active,
.btn-transparent-danger:focus-visible {
    
    color:#a00f0f ;
    border: none;
    outline: none; 
    box-shadow: none;
    /* transition: transform 0.3s ease, box-shadow 0.2s ease; */
    transition: transform 0.3s ease;

}

.btn-transparent-danger:hover{
  transform: translateY(-3px);
  color:#ff0606 ;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
} 
