<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
    
    <!--  bootstrap Icon CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"> 
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">


    <!-- link css -->
    <link rel= "stylesheet" href= "{{ url_for('static',filename='style.css') }}">
    
    
    <title>
        {%block title%}
        
        {% endblock %}
    </title>
</head>

<body>
    <!-- NAV BAR -->
    {% if show_navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
        <div class="container">
          <a class="navbar-brand" href={{url_for('home_page')}}>HR Recruitment Portal</a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center custom-nav-center" id="navbarNav">
            <!-- Centered Menu -->
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item active">
                <a class="nav-link" href="{{url_for('home_page')}}">Home <span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('career_page')}}">Careers</a>
              </li>
            </ul>
            
            <!-- Right-aligned items -->
              {% if current_user.is_authenticated%}
              <ul class="navbar-nav ms-auto gap-2 ">
                
                <span class="text-sm text-muted UserProf">Welcome, {{current_user.firstname|capitalize}}</span>
                
                <!--<li class="nav-item">
                  <button type="button" id="nav-btn" class="btn btn-light fw-normal btn-md border hover-overlay">
                    View Public Site
                  </button>
                </li>-->
                
                <li class="nav-item">
                  {% if current_user.user_type.name=='admin'%}
                  <button type="button" id="nav-btn" class="btn btn-light fw-normal btn-md lead" onclick="location.href='{{ url_for('admin_dashboard') }}'">
                    Dashboard
                  </button>

                  {% elif current_user.user_type.name=='internal'%}
                  <button type="button" id="nav-btn" class="btn btn-light fw-normal btn-md lead" onclick="location.href='{{ url_for('internal_dashboard') }}'">
                    Dashboard
                  </button>
                  
                  {% else %}
                  <button type="button" id="nav-btn" class="btn btn-light fw-normal btn-md lead" onclick="location.href='{{ url_for('public_dashboard') }}'">
                    My Application
                  </button>

                  {% endif %}
                </li>
                
                <li class="nav-item">
                  <button type="button" id="login-btn" class="btn fw-normal btn-md lead border" onclick="location.href='{{ url_for('logout_page') }}'">
                    Logout
                  </button>
                  <!--<a class="nav-link" href="{{url_for('logout_page')}}"></a> -->
                </li>

              {% else %}
              <ul class="navbar-nav ms-auto gap-1">
                <li class="nav-item">
                  <button type="button" id="login-btn" class="btn btn-md border lead " onclick="location.href='{{url_for('login_page')}}'">
                    Login
                  </button>
                </li>
                <li class="nav-item">
                  <button type="button" id="signup-btn" class="btn btn-md btn-dark border lead  " onclick="location.href='{{url_for('register_page')}}'">
                    Sign Up
                  </button>
                </li>
               </ul> 
              {% endif %}
            </ul>
          </div>
        </div>
    </nav>
    {% endif %}

    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div id="toastMessage"
              class="toast align-items-center bg-{{ category }} bg-gradient text-light border-0 position-fixed top-0 end-0 m-3"
              role="alert"
              aria-live="assertive"
              aria-atomic="true"
              data-bs-autohide="true"
              data-bs-delay="3000">
            <div class="d-flex">
              <div class="toast-body">
                {{ message }}
              </div>
              <button type="button" class="btn-close me-2 m-auto text-light" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}


          
    {% block content%}

    {% endblock%}

    <!-- bootstrap SCRIPT -->
    
    <script src="{{ url_for('static',filename='main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
</body>
</html>