{% extends "base.html" %}

{% block title %}
    Home Page
{% endblock%}
    
{% block content %}
    <section id="section-1" class="text-dark p-5 text-center ">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-center">
                <div>
                    <h1>Looking for a new <span class="text-warning">Career</span>?</h1>
                    <p class="lead my-4">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus porro neque ullam aut assumenda debitis nesciunt voluptate voluptatem, rerum fugiat doloremque reiciendis soluta ut! Ab corporis cum repudiandae ullam minus fugiat, adipisci ducimus sed, dolorem veniam, eveniet itaque. Quis eius obcaecati omnis distinctio quibusdam harum sit nobis ratione in doloribus?
                    </p>
                    
                    {% if current_user.is_anonymous%}
                        <p><span><a id="anom_login" class="text-dark" href="{{url_for('register_page')}}">Create an account</a></span> or <span><a id="anom_login" class="text-dark" href="{{url_for('login_page')}}">Sign in</a></span> to see your personalized job recommendations.</p>
                        
                    {% endif %}
                    
                    <!--<button class="btn btn-dark px-5" data-bs-toggle="modal"
              data-bs-target="#enroll">See Careers</button>-->
             
                </div>
                
            </div>
        </div>
     </section>

     <!-- <section id="section-2" class="text-dark p-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="https://images.unsplash.com/photo-1552664730-d307ca884978?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw4fHxjb21wYW55fGVufDB8MHx8fDE3MTE2MTg5OTZ8MA&ixlib=rb-4.0.3&q=80&w=1080" class="img-fluid" style="box-shadow: 0 0 15px #eee;" alt="">
                </div>
                <div class="col-md-6 pt-3">
                    <small class="text-uppercase" style="color: #9B5DE5;">About us</small>
                    <h1 class="h2 mb-4" style="font-weight: 600;">About Our
                        <span style="color: #9B5DE5;" class="font-weight-bold">Company</span></h1>
                    <p class="text-secondary" style="line-height: 2;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Suscipit repellat iure laboriosam cum voluptatum, nam minima deserunt aut? Distinctio voluptatibus dolor
                        quaerat quo omnis illo sequi at velit, odit quod!</p>
                </div>
            </div>
        </div>
     </section> -->
{% endblock%}
