{% extends "base.html" %}

{% block title %}
    Home Page
{% endblock%}
    
{% block content %}
    <section id="section-1" class="text-dark p-5 text-center ">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-center">
                <div>
                    <h1>Looking for a new <span class="text-warning">Career</span>?</h1>
                    <p class="lead my-4">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus porro neque ullam aut assumenda debitis nesciunt voluptate voluptatem, rerum fugiat doloremque reiciendis soluta ut! Ab corporis cum repudiandae ullam minus fugiat, adipisci ducimus sed, dolorem veniam, eveniet itaque. Quis eius obcaecati omnis distinctio quibusdam harum sit nobis ratione in doloribus?
                    </p>
                    <button class="btn btn-dark px-5" data-bs-toggle="modal"
              data-bs-target="#enroll">See Careers</button>
             
                </div>
                
            </div>
        </div>
     </section>
{% endblock%}
