{% extends "base.html" %}


{% block title %}
Password Reset Request Page
{% endblock %}

{% block content%}
    <div class="min-vh-100 d-flex align-items-center justify-content-center bg-light rounded ">
        <div class="card w-100" style="max-width: 500px;">
            <div class="card-header text-center py-4">
            <h2 class="h4 mb-1">Reset your password</h2>
            </div>
            <div class="card-body">
                
            <form method="POST">
                {{forgot_pw_request.hidden_tag() }}
                <div class="mb-3">
                    {{forgot_pw_request.email_address.label()}}
                    {{forgot_pw_request.email_address(class="form-control", placeholder="Enter you email")}}
                </div>
                
                <button id="showToastBtn" type="submit" class="btn btn-dark w-100">Reset Password</button>
            </form>
            
            <div class="mt-4 text-center">
                <p class="text-muted small mb-2">
                Don't have an account?
                <a href="{{url_for('register_page')}}" class="text-decoration-none">Sign up here</a>
                </p>
                <a href="{{url_for('home_page')}}" class="text-muted small text-decoration-none">← Back to Home</a>
            </div>
            </div>
        </div>
    </div>
{% endblock  %}
  



