{% extends "base.html" %}


{% block title %}
Registration Page
{% endblock %}

{% block content%}
    <!-- Register -->
    <div class="min-vh-100 d-flex align-items-center justify-content-center bg-light rounded ">
        <div class="card w-100" style="max-width: 500px;">
            <div class="card-header text-center py-4">
            <h2 class="h4 mb-1">Create Account</h2>
            <p class="text-muted mb-0">Join us to apply for exciting opportunities</p>
            </div>
            <div class="card-body">
            <form method="POST">
                {{form.hidden_tag() }}
                <div class="row mb-3">
                    <div class="col">
                        {{form.firstname.label()}}
                        {{form.firstname(class="form-control", placeholder="Juan")}}
                        
                    </div>
                    <div class="col">
                        {{form.lastname.label()}}
                        {{form.lastname(class="form-control", placeholder="Dela Cruz ")}}
                    </div>
                </div>
                
                <div class="mb-3">
                    {{form.email_address.label()}}
                    {{form.email_address(class="form-control", placeholder="your@email.com")}}
                </div>
                
                <div class="mb-3">
                    {{ form.password.label() }}
                    {{ form.password(class="form-control", placeholder="Create a password") }}
                </div>

                <div class="mb-4">
                    {{ form.password2.label() }}
                    {{ form.password2(class="form-control", placeholder="Confirm Password") }}
                </div>
                

                <button id="showToastBtn" type="submit" class="btn btn-dark w-100">Create Account</button>
            </form>
            
            <div class="mt-4 text-center">
                <p class="text-muted small mb-2">
                Already have an account?
                <a href="{{url_for('login_page')}}"class="text-decoration-none">Sign in here</a>
                </p>
                <a href="{{url_for('home_page')}}" class="text-muted small text-decoration-none">← Back to Home</a>
            </div>
            </div>
        </div>
    </div>
{% endblock  %}
