
<!-- auth/password_reset_request_modal.html -->
<!--<div class="modal fade" id="PassswordResetRequest" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Password Reset Action</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <form method="POST">
        {{ pwr_form.csrf_token }}
        <div class="modal-body">
          <p class="text-start text-muted pb-1">Please input your email to proceed.</p>
          {{ pwr_form.email_address(class="form-control", placeholder="Input your Email") }}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
      </form>

    </div>
  </div>
</div>-->









