{% extends "dashboard/base_dashboard.html"%}



<!--After fixing of user type show this is user is public-->
{% block nav %}
<li class="nav-item">
    <span class="text-sm text-muted UserProf">Welcome, {{ current_user.firstname|capitalize }} </span>
</li>

<li class="nav-item">
    <button id="nav-btn" type="button" class="btn btn-light fw-normal border" onclick="location.href='{{ url_for('career_page') }}'">
    ← Back to Jobs
    </button>
</li>

<li class="nav-item ">
    <button type="button" id="logout-btn" class="btn fw-normal btn-md lead border " onclick="location.href='{{ url_for('logout_page') }}'">
        Logout
    </button>
</li>

{% endblock%}

{% block section %}

<div class="container p-5">
    <h1>Hello Public User</h1>
</div>
{% endblock%}


                