{% extends "dashboard/base_dashboard.html"%}

{% block nav %}
<li class="nav-item px-1">
    <span class="text-muted UserProf">Welcome, {{ current_user.firstname|capitalize }} </span>
</li>

<li class="nav-item px-1">
    <button id="nav-btn" type="button" class="btn btn-light fw-normal border" onclick="location.href='{{ url_for('career_page') }}'">
    ← Back to Jobs
    </button>
</li>


<li class="nav-item">
    <div class="dropdown">
        <!-- <button class="btn btn-light border border-secondary rounded-circle p-0 d-lg-flex" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            
            <img id="avatar-icon" src="
            {% if current_user.profile_picture %}
            {{url_for('static', filename='uploads/avatars/'~ current_user.profile_picture)}} 
            {% else %}
            {{ url_for('static', filename='builtin/icons/person.png') }}"
             onerror="this.onerror=null; this.src='{{ url_for('static', filename='builtin/icons/person.png') }}'
            {% endif %}">
            
        </button> -->

       <button class="btn btn-light border border-secondary rounded-circle p-0 d-lg-flex"
                type="button"
                id="dropdownMenuButton2"
                data-bs-toggle="dropdown"
                aria-expanded="false">

            <img id="avatar-icon"
                src="{{ url_for('static', filename='uploads/avatars/' ~ current_user.profile_picture) if current_user.profile_picture else url_for('static', filename='builtin/icons/person.png') }}"
                onerror="this.onerror=null; this.src='{{ url_for('static', filename='builtin/icons/person.png') }}';"
                class="rounded-circle"
                width="40"
                height="40"
                alt="User Avatar">
        </button>


        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
           <!--<li>
                <a class="dropdown-item d-flex justify-content-center align-items-center gap-2" href="#"> Settings
                    <img src="{{ url_for('static', filename='builtin/icons/cogwheel.png') }}" width="20" alt="Menu Icon">
                </a>
            </li>
             <li><hr class="dropdown-divider"></li>-->
            <li ><a class="profile-dropdown-option dropdown-item d-flex justify-content-center align-items-center gap-2" href="{{ url_for('logout_page') }}">Logout
                <img src="{{ url_for('static', filename='builtin/icons/logout.png') }}" width="20" alt="Menu Icon">
            </a></li>
        </ul>
    </div>
</li>



{% endblock%}

{% block section %}

<div class="container p-5">
    <div id='btn-group-container' class="container-fluid p-1 mb-3 rounded btn-group-container">
        <div class="btn-group  w-100" role="group" aria-label="Form Navigation">
            <button type="button" class="btn btn-outline-light fw-bold rounded active" id="btn-personal">Profile Settings</button>
            <button type="button" class="btn btn-outline-light fw-bold rounded" id="btn-application">My Application</button>
        </div>
    </div>

    
    <!--<div class="d-flex flex-column align-items-center justify-content-center p-4">
        <h4>Profile Settings</h4>
        <p class="text-muted text-center">Update your personal information and preferences</p>
    </div>-->

    <div class="container-fluid overflow-hidden">
        <div id="profile-nav" class="row vh-100 overflow-auto">
            <div class="col-12 col-lg-2 px-sm-2 px-0 bg-light d-flex sticky-top profile-sidebar-sticky gap-2 nowrap">
                <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 py-2 text-white">
                
                    <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                        <li>
                            <a href="{{ url_for('public_dashboard')}}" class="nav-link px-sm-0 text-dark px-2">
                                <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">My Profile</span></a>
                        </li>
                            
                        <li>    
                            <a href="#" id="Documents" class="nav-link px-sm-0 text-dark px-2">
                                <i class="fs-5 bi-file-earmark-text"></i><span class="ms-1 d-none d-sm-inline">Documents</span> </a>
                        </li>

                        <li class="nav-item ">
                            <a href="#" id="SecurityPassword" class="nav-link px-sm-0 px-2 text-dark">
                                <i class="fs-5 bi-lock-fill"></i><span class="ms-1 d-none d-sm-inline">Security</span>
                            </a>
                        </li>
                        
                        <!--<li>
                            <a href="#" class="nav-link px-sm-0 px-2 text-dark">
                                <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline">Orders</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fs-5 bi-bootstrap"></i><span class="ms-1 d-none d-sm-inline">Bootstrap</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="#">New project...</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Sign out</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-grid"></i><span class="ms-1 d-none d-sm-inline">Products</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-people"></i><span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                        </li>-->
                    </ul>
                    <!---<div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">Joe</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>-->
                </div>
            </div>

            <div class="col d-flex flex-column h-sm-100">
                <!-- Section 1: Personal Info -->
                <div id="section-personal" class="form-section container-fluid border rounded py-5">
                    <div class="d-flex flex-column align-items-center justify-content-center pb-4">
                        <h4>Profile Settings</h4>
                        <p class="text-muted text-center">Update your personal information and preferences</p>
                    </div>
                    
                    <form method="POST" enctype="multipart/form-data">
                        {{form.hidden_tag() }}
                        <div class="container d-none d-sm-block">
                            <div class="avatar pb-5 ">
                                <div id="avatar-container">
                                    <img id="avatar-preview" src="
                                        {% if current_user.profile_picture %}
                                        {{ url_for('static', filename='uploads/avatars/'~ current_user.profile_picture)}}
                                        {% else %}
                                        {{ url_for('static', filename='builtin/icons/person.png')}}
                                        {% endif %}" 
                                        alt="Avatar"
                                        onerror="this.onerror=null; this.src='{{ url_for('static', filename='builtin/icons/person.png') }}'">
                                </div>
                                <label for="avatar-upload" class="upload-label">
                                        <span class="upload-icon">+</span>
                                </label>
                                <input type="file" id="avatar-upload" name="avatar" accept="image/png,image/jpeg"/>
                            </div>
                        </div>
                        
                        

                        <div class="row row-cols-1 row-cols-lg-2 mb-3 text-muted">
                            <div class="col text-center">
                                {{ form.firstname.label(class="mb-1") }}
                                {{ form.firstname(class="form-control", placeholder="Juan") }}
                            </div>
                            <div class="col text-center">
                                {{ form.lastname.label(class="mb-1") }}
                                {{ form.lastname(class="form-control", placeholder="Dela Cruz") }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col text-center text-muted py-5 ps-lg-3">
                                <h6 class="mb-4">Address Details</h6>
                                
                                <div class="row row-cols-1 row-cols-lg-2 mb-5 text-muted">
                                    <div class="col text-center">
                                        {{ form.address_1.label(class="mb-1") }}
                                        {{ form.address_1(class="form-control", placeholder="Block # / Lot #") }}
                                    </div>
                                    <div class="col text-center">
                                        {{ form.address_2.label(class="mb-1") }}
                                        {{ form.address_2(class="form-control", placeholder="Street / Phase ") }}
                                    </div>
                                </div>
                                <div class="row row-cols-1 row-cols-lg-4 mb-5 text-muted">

                                    <div class="col text-center">
                                        {{ form.prov_id.label(class="mb-1") }}
                                        {{ form.prov_id(id="prov_id", class="form-control text-center") }}
                                    </div>

                                    <div class="col text-center">
                                        {{ form.munci_id.label(class="mb-1") }}
                                        {{ form.munci_id(id="munci_id", class="form-control text-center") }}
                                    </div>

                                    <div class="col text-center">
                                        {{ form.brgy_id.label(class="mb-1") }}    
                                        {{ form.brgy_id(id="brgy_id", class="form-control text-center") }}
                                    </div>

                                    <div class="col text-center">
                                        {{ form.zipcode.label(class="mb-1") }}
                                        {{ form.zipcode(class="form-control") }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        <div class="row">
                            <div class="col-12 col-lg-6 text-center text-muted py-5 pe-lg-3">
                                <h6 class="mb-4">Contact Details</h6>
                                <div class="mb-3">
                                    {{ form.email_address.label(class="mb-1") }}
                                    {{ form.email_address(class="form-control", placeholder="your@email.com") }}
                                </div>
                                <div class="mb-3">
                                    {{ form.mobile_number.label(class="mb-1") }}
                                    {{ form.mobile_number(class="form-control", placeholder="+63*") }}
                                </div>
                                <div>
                                    {{ form.phone_number.label(class="mb-1") }}
                                    {{ form.phone_number(class="form-control", placeholder="0000-0000") }}
                                </div>
                            </div>

                            <div class="col-12 col-lg-6 text-center text-muted py-5 ps-lg-3">
                                <h6 class="mb-4">Login Details</h6>
                                <div class="mb-3">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-column-sm align-items-center justify-content-center gap-2 mb-3 w-100">
                            {{form.update(class="btn btn-sm btn-outline-success text-success px-5")}}
                            {{form.cancel (class="btn btn-sm btn-outline-danger text-danger px-5")}}
                        </div>
                    </form>
                </div>


                <!-- Section: Documents Details -->
                <div id="section-documents" class="form-section d-none py-4">
                    <div class="d-flex flex-column align-items-center justify-content-center pb-5">
                        <h4>My Documents</h4>
                        <p class="text-muted text-center"></p>
                    </div>
                    
                    <div class="container-fluid border text-center text-muted rounded p-5">
                        <h6>You haven't submitted any documents yet.</h6>
                        <p>Browse available job opportunities and apply to get started.</p>
                    </div>
                </div>


                <!-- Section: Change Password -->
                <div id="section-change-password" class="form-section d-none py-4">
                    <div class="d-flex flex-column align-items-center justify-content-center pb-5">
                        <h4>Security & Passwords</h4>
                        <p class="text-muted text-center">Track all my documents submitted </p>

                        <div class="container ">
                            <form method="POST">
                                {{ change_pw_form.hidden_tag() }}
                                <div class="modal-body">
                                <p class="text-start text-muted pb-1">Please input the details to proceed.</p>
                                {{ change_pw_form.current_password(class="form-control mb-2", placeholder="Current Password")}}
                                {{ change_pw_form.password(class="form-control mb-2", placeholder="New Password")}}
                                {{ change_pw_form.password2(class="form-control mb-2", placeholder="Confirm Password")}}
                                </div>
                                <div class="modal-footer">
                                {{ change_pw_form.submit(class="btn btn-primary")}}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section: Application Details -->
        <div id="section-job" class="form-section d-none py-4">
            <div class="d-flex flex-column align-items-center justify-content-center pb-5">
                <h4>My Applications</h4>
                <p class="text-muted text-center">Track the status of your job applications</p>
            </div>
            
            <div class="container-fluid border text-center text-muted rounded p-5">
                <h6>You haven't submitted any applications yet.</h6>
                <p>Browse available job opportunities and apply to get started.</p>


            </div>
        </div>
    </div>
</div>
{% endblock%}


                